* {
    margin: 0;
    padding: 0;
}

#canvas {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
}
.btns {
    position: fixed;
    left: 20px;
    top: 20px;
}
.btns>svg {
    width: 2em;
    height: 2em;
    margin: 5px;
    transition: all 0.3s;
}
.btns>svg.active {
    transform: scale(1.2);
}